td
  - if current_user && current_user.id == task.user_id
    i Моя задача
  - else
    = task.user.email
td = task.created_at.strftime("%d.%m.%y")
td = link_to (task.name), task_path(task)
td = task.state
td
  - if current_user && current_user.id == task.user_id
    - if task.state == 'new'
      = link_to "Пуск задачи!", task_start_path(task), method: :post, remote: true, class: 'btn btn-default btn-xs start-task-link'
    - else
      - if task.state == 'started'
        = link_to("Завершить задачу", task_finish_path(task), method: :post, remote: true, class: 'btn btn-primary btn-xs start-task-link')
      - else
        = link_to("На доработку.", task_start_path(task), method: :post, remote: true, class: 'btn btn-danger btn-xs start-task-link')
