- unless @tasks.empty?
  div class="panel panel-default"
    div class="panel-heading" Задачи:
    table class="table"
      tr
        th Создал:
        th Дата:
        th Задача:
        th Состояние:
        th Контроль:
      - @tasks.each do |task|
        tr id="task_#{task.id}"
          = render 'task', task: task
- else
  h4 Задач пока нет!
