h2
  = @task.name
br
  - if current_user && current_user.id == @task.user_id
    = link_to "Редактировать?", edit_task_path(@task)
    i &nbsp; или &nbsp;
    = link_to "Удалить?", @task, method: :delete, data: {confirm: "Подтверждение удаления"}
div
  i Описание:&nbsp;
  = @task.description
div
  i Состояние:&nbsp;
  = @task.state
div
  i Создал:
  = @task.user.email
